/* Header */
#idHeader {
    z-index: 9999;
}
.header {
    background-color: #fff;
}

.header__top {
    background-color: #000;
    font-size: 12px;
    text-align: center;
    user-select: none;
}

.header__top a {
    display: block;
    padding: 10px 15px;
    color: #fff;
    text-decoration: none;
}

.header__middle {
    padding: 15px 0px;
    user-select: none;
}

.header__middle-container {
    padding: 0 15px;
}

.header__middle-container-wrapper {
    justify-content: space-between;
}

.header__middle-container-center {
    height: 65px;
    max-width: 235px !important;
}

.header__middle-container-center img {
    width: 100%;
    height: 100%;
}

.header__middle-container .header__middle-container-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}

.header__middle-container-left-wrapper {
    display: none;
    padding: 10px 0;
    width: 22px;
    cursor: pointer;
}

.header__middle-container-left-menu {
    width: 22px;
    height: 2px;
    background-color: #000;
    position: relative;
    border-radius: 5px;
}

.header__middle-container-left-menu::before {
    content: "";
    display: block;
    position: absolute;
    top: -6px;
    width: 22px;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
    transition: transform linear 0.15s;
}

.header__middle-container-left-menu::after {
    content: "";
    display: block;
    position: absolute;
    top: 6px;
    width: 22px;
    height: 2px;
    background-color: #000;
    border-radius: 5px;
    transition: transform linear 0.15s;
}

.header__middle-container-left-menu.open-menu {
    width: 0px;
}

.open-menu.header__middle-container-left-menu::before {
    transform: rotate(45deg);
    top: 0;
}

.open-menu.header__middle-container-left-menu::after {
    transform: rotate(-45deg);
    top: 0;
}

.header__middle-container .header__middle-container-right {
    display: flex;
    justify-content: flex-end;
}

.header__middle-container-right-icon {
    display: flex;
    align-items: center;
}

.header__middle-container-right-icon i{
    font-size: 2em;
    display: inline-block;
    margin-left: 8px;
    padding: 4px;
    cursor: pointer;
}

.header__middle-container-right-icon span {
    width: 20px;
    height: 20px;
    line-height: 20px;
    position: absolute;
    top: -6px;
    right: -5px;
    background-color: #000;
    border-radius: 50%;
    color: #fff;
    text-align: center;
    font-size: 12px;
}

.header__bottom {
    user-select: none;
}

.header__bottom-container {
    padding: 0 15px;
}

.header__bottom-container-wrapper {
    justify-content: center;
    align-items: center;
}

.header__bottom-container-wrapper-menu-list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.header__bottom-container-wrapper-menu-list li {
    list-style: none;
}

.header__bottom-container-wrapper-menu-list>li {
    position: relative;
}

.header__bottom-container-wrapper-menu-list>li>a {
    position: relative;
    display: block;
    padding: 15px 0;
    margin: 0 12px;
    font-size: 13px;
    font-weight: 700;
    color: #000;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.header__bottom-container-wrapper-menu-list>li a i {
    display: inline-block;
    vertical-align: middle;
    font-size: 10px;
    transform-origin: center;
    font-weight: bold;
    transition: transform linear 0.2s;
}

.header__bottom-container-wrapper-menu-list li:hover>a i {
    transform: rotate(180deg);
}

.header__bottom-container-wrapper-menu-list>li>a::before {
    content: '';
    position: absolute;
    left: -0.5px;
    bottom: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    border-radius: 2px;
    transform-origin: center;
    transform: scale(0);
    opacity: 0;
    transition: transform linear 0.2s, opacity linear 0.2s;
}

.header__bottom-container-wrapper-menu-list>li>a:hover::before {
    transform: scale(1);
    opacity: 1;
}

.header__bottom-container-wrapper-menu-list>li.active>a::before {
    transform: scale(1);
    opacity: 1;
}

.header__bottom-container-wrapper-menu-list .sub_menu {
    padding: 0;
    background: #fff;
    position: absolute;
    border-top: 2px solid #000000;
    top: 96%;
    z-index: 999;
    min-width: 142px;
    box-shadow: 0 1px 20px rgba(0,0,0,.09);
    transform: rotate3d(1,0,0,-90deg);
    transform-origin: 0 0 0;
    transition: all .5s ease;
}

.header__bottom-container-wrapper-menu-list .sub_menu .sub_menu{
    left: 100%;
    top: -2px;
    margin-left: 1px;
    margin-top: 0;
    transform: rotate3d(0,1,0,90deg);
}

.header__bottom-container-wrapper-menu-list li:hover>.sub_menu {
    transform: rotate3d(0,0,0,0deg);
}

.header__bottom-container-wrapper-menu-list li .sub_menu li {
    position: relative;
}

.header__bottom-container-wrapper-menu-list .sub_menu a {
    padding: 9px 18px;
    white-space: nowrap;
    text-align: left;
    display: block;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

.header__bottom-container-wrapper-menu-list .sub_menu li:not(:first-child) {
    border-top: 1px solid #ecf0f1;
}

.header__search {
    border-top: 1px solid rgb(240, 240, 240);
    display: none;
}

.header__search-wrapper {
    padding: 0;
}

.header__search-wrapper form {
    position: relative;
    padding: 5px 6px;
}

.header__search-wrapper-child {
    width: 100%;
    height: 30px;
    padding: 5px 40px 5px 8px;
    margin: 0;
    border-radius: 0;
    border: 1px solid #eaeaea;
    background: #f5f5f5;
    color: #252a2b;
    font-size: 14px;
    font-weight: 500;
}

.header__search-wrapper form button[type="submit"] {
    position: absolute;
    width: 35px;
    height: calc(100% - 10px);
    line-height: 30px;
    border: 0;
    outline: none;
    padding: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 6px;
    font-size: 15px;
    background: transparent;
    cursor: pointer;
}

.header__middle-container-right-form-search {
    display: none;
    position: absolute;
    top: calc(100% + 15px);
    right: -85px;
    transform-origin: top center;
    border-radius: 3px;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 400px;
    background-color: #fff;
    animation: show linear 0.2s;
}

@keyframes show {
    from {
        opacity: 0;
        transform: scale(0.8);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

span.box-triangle {
    position: absolute;
    margin: 0;
    width: 27px;
    height: 14px;
    top: unset;
    background: unset;
    z-index: 9999;
    display: none;
    animation: show linear 0.1s;
}

span.box-triangle svg {
    filter: drop-shadow(0 -2px 2px rgba(0, 0, 0, 0.1));
}

.header__middle-container-right-form-search-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    min-height: 100%;
    padding: 25px 15px 15px;
}

.titlebox {
    font-size: 14px;
    text-transform: uppercase;
    margin: 0;
    font-weight: 700;
    padding-bottom: 10px;
    border-bottom: 1px solid #e3e5ec;
}

.header__middle-search-box form {
    position: relative;
    margin-top: 18px;
    margin-bottom: 15px;
}

.header__middle-search-box-input {
    background: #fff;
    border: 1px solid #ebebeb;
    width: 100%;
    height: 45px;
    font-size: 14px;
    font-weight: 500;
    padding: 0 55px 0 15px;
    margin: 0;
    display: inline-block;
    border-radius: 0;
}

.header__middle-search-box-submit {
    width: 55px;
    height: 45px;
    line-height: 45px;
    position: absolute;
    padding: 0;
    top: 0px;
    right: 0px;
    background: #000000;
    border: 0;
    border-radius: 0;
    overflow: hidden;
}

.header__middle-search-box-submit i {
    margin: unset;
    color: #fff;
    font-size: 17px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.header__middle-search-box-result {
    width: 100%;
    background-color: #fff;
    display: none;
}


.header__middle-search-box-result .item-result {
    padding: 10px;
    border-bottom: 1px dotted #dfe0e1;
    clear: both;
    width: 100%;
    float: left;
}

.header__middle-search-box-result .item-result .thumbs {
    width: 40px;
    height: 40px;
    display: inline-block;
    text-align: right;
}

.header__middle-search-box-result .item-result .thumbs a {
    display: block;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__middle-search-box-result .item-result .title {
    width: calc(100% - 40px);
    padding-right: 5px;
    float: left;
    line-height: 20px;
    position: relative;
    margin-top: 0px!important;
}

.header__middle-search-box-result .item-result .title a {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    float: left;
    width: 100%;
    margin-bottom: 4px;
    text-decoration: none;
    color: #000;
}

.header__middle-search-box-result .item-result .title p {
    line-height: 15px;
    font-size: 12px;
    font-weight: 500;
    float: left;
    margin: 0;
}

.header__middle-search-box-result .resultsMore a {
    text-align: center;
    display: block;
    font-size: 14px;
    padding: 10px 0;
    font-weight: 500;
    text-decoration: none;
    color: #000;
}

.header__middle-search-box-result .resultsMore {
    width: 100%;
    float: left;
}

.header__middle-container-right-form-user {
    display: none;
    position: absolute;
    top: calc(100% + 19px);
    right: -51px;
    transform-origin: top center;
    border-radius: 3px;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 350px;
    background-color: #fff;
    animation: show linear 0.2s;
}

.header__middle-container-right-form-user-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
    min-height: 100%;
    padding: 25px 15px 15px;
}

.header__middle-container-right-form-user-wrapper .title-user h2 {
    margin: 0px 0px 4px;
    text-align: center;
    font-size: 15px;
    color: #000;
}

.header__middle-container-right-form-user-wrapper .title-user p {
    margin: 0px 0px 10px;
    text-align: center;
    font-size: 14px;
    color: #000;
}

.header__middle-container-right-form-user-wrapper .container-user-account {
    width: 100%;
    position: relative;
    margin-bottom: 12px;
}

.header__middle-container-right-form-user-wrapper .container-user-password {
    width: 100%;
    position: relative;
    margin-bottom: 12px;
}

.header__middle-container-right-form-user-wrapper input[name="email"],
.header__middle-container-right-form-user-wrapper input[name="password"] {
    display: block;
    padding: 14px 10px 3px;
    border-radius: 2px;
    border: 1px solid #d4d6d8;
    width: 100%;
    line-height: normal;
    height: 42px;
    color: #000;
    resize: none;
    font-size: 12px;
    box-shadow: 0 1px rgba(212, 214, 216, 0.25) inset;
}

.header__middle-container-right-form-user-wrapper input[name="email"]:focus~label,
.header__middle-container-right-form-user-wrapper input[name="password"]:focus~label,
.header__middle-container-right-form-user-wrapper input[name="email"]:valid~label,
.header__middle-container-right-form-user-wrapper input[name="password"]:valid~label {
    top: -5px;
    transform: scale(0.8);
    color: #000;
}

.header__middle-container-right-form-user-wrapper label {
    position: absolute;
    left: 10px;
    top: 0;
    line-height: 42px;
    font-size: 12px;
    font-weight: 600;
    margin-bottom: 0;
    color: #677279;
    transform-origin: top left;
    transform: scale(1);
    pointer-events: none;
    transition: transform linear 0.15s, top linear 0.15s;
}

.sitebox-recaptcha {
    padding: 0;
    color: #272727;
    text-align: left;
    font-size: 13px;
    margin-top: 12px;
}

.sitebox-recaptcha a {
    color: #2962ff;
    text-decoration: none;
}

.container-user-submit {
    width: 100%;
    outline: none;
    height: 42px;
    font-weight: 600;
}

.container-user-sub {
    margin-top: 12px;
    font-size: 13px;
}

.container-user-sub p {
    margin: 0;
    text-align: center;
    margin-bottom: 4px;
}

.container-user-sub p a {
    color: #285cec;
    text-decoration: none;
}

.header__middle-container-right-form-cart {
    display: none;
    position: absolute;
    top: calc(100% + 19px);
    right: -12px;
    transform-origin: top center;
    border-radius: 3px;
    box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
    z-index: 999;
    width: 470px;
    background-color: #fff;
    animation: show linear 0.2s;
}

.header__middle-container-right-form-cart-wrapper {
    position: relative;
    width: 100%;
    height: 100%;
    font-size: 14px;
    overflow: hidden;
    min-height: 100%;
    padding: 25px 15px 15px;
}

.header__middle-container-right-form-cart-view {
    max-height: 360px;
    overflow-y: auto;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-right: 10px;
}

.header__middle-container-right-form-cart-view::-webkit-scrollbar {
    width: 2px;
}

.header__middle-container-right-form-cart-view::-webkit-scrollbar-thumb {
    background-color: rgb(105,105,105);
    border-radius: 2px;
}

.header__middle-container-right-form-cart-view .null-cart {
    padding: 10px 0;
    text-align: center;
}

.null-cart i {
    margin: 0;
    font-size: 38px;
}

.null-cart p {
    font-weight: 500;
}

.total-cart {
    border-top: 1px solid #e3e5ec;
}

.total-cart p {
    display: inline-block;
    padding: 10px;
    margin: unset;
}

.total-cart p:nth-child(1) {
    text-align: left;
    font-size: 14px;
    font-weight: 500;
}

.total-cart p:nth-child(2) {
    text-align: right;
    font-weight: 700;
    font-size: 16px;
    color: #e00707;
}

.total-cart-info {
    display: flex;
    justify-content: space-between;
}

.total-cart-button {
    display: flex;
}

.total-cart-button a {
    flex: 1;
    padding: 14px 15px;
    text-align: center;
    text-decoration: none;
    font-weight: 600;
}

.total-cart-button a:first-child {
    margin-right: 10px;
}

.total-cart-button a:last-child {
    margin-left: 10px;
}

.header__middle-container-right-form-cart-view .cart-item {
    display: flex;
}

.header__middle-container-right-form-cart-view .cart-item:not(:first-child) {
    border-top: 1px dashed #d9d9d9;
}

.header__middle-container-right-form-cart-view .cart-item .cart-item-thumbs {
    padding: 10px 20px 10px 0px;
}

.header__middle-container-right-form-cart-view .cart-item-thumbs a {
    display: block;
    width: 100px;
    height: 100px;
    border: 1px solid #ededed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.header__middle-container-right-form-cart-view .cart-item .cart-item-info {
    flex: 1;
    padding: 20px 0;
    position: relative;
}

.cart-item-info a {
    text-decoration: none;
    font-size: 11px;
    font-weight: 700;
    text-transform: uppercase;
    color: #272727;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 100%;
}

.cart-item-info p:nth-child(2) {
    margin: 5px 0 12px;
}

.cart-item-info p:nth-child(3) {
    background: #ededed;
    text-align: center;
    padding: 6px 12px;
    font-size: 12px;
    line-height: 1;
    margin: 0 12px 0 0;
    display: inline-block;
}

.cart-item-info p:nth-child(4) {
    display: inline-block;
    color: #333;
    text-align: center;
    font-weight: 700;
    font-size: 14px;
    margin: unset;
}

.cart-item-info .delete-cart-item {
    position: absolute;
    top: 20px;
    right: 0;
    background-color: #ededed;
    width: 20px;
    height: 20px;
    border-radius: 2px;
    cursor: pointer;
}

.cart-item-info .delete-cart-item::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -55%) rotate(45deg);
    width: 11px;
    height: 3px;
    transform-origin: center;
    background-color: #333;
    border-radius: 1px;
}

.cart-item-info .delete-cart-item::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(-45deg);
    width: 11px;
    height: 3px;
    transform-origin: center;
    background-color: #333;
    border-radius: 1px;
}

.header__bottom-container-wrapper .header__middle-container-center {
    display: none;
}

.menu-sidebar {
    padding: 0;
    margin: 0 15px;
    list-style: none;
    font-size: 14px;
    font-weight: 700;
    color: #333;
    text-transform: uppercase;
}

.menu-sidebar li {
    position: relative;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid #d9d9d9;
}

.menu-sidebar li a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 15px 0;
    max-width: 90%;
    overflow: hidden;
    text-overflow: ellipsis;
}

.menu-sidebar-icon {
    position: absolute;
    top: calc((46.76px - 30px)/2);
    right: 0;
    width: 30px;
    height: 30px;
}

.menu-sidebar-icon:active {
    background-color: #eeeeee;
}

.menu-sidebar-icon:hover {
    border: 1px solid #d9d9d9;
}

.menu-sidebar-icon::before {
    content: '';
    width: 15px;
    height: 2px;
    background-color: #333;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

.menu-sidebar-icon::after {
    content: '';
    width: 15px;
    height: 2px;
    background-color: #333;
    border-radius: 3px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%) rotate(90deg);
    transition: width linear 0.1s;
    transform-origin: center;
}

.sub-menu-sidebar.show~.menu-sidebar-icon::after {
    width: 0px;
}

.sub-menu-sidebar {
    padding-left: 20px;
    display: none;
    transform-origin: right center;
    animation: showSubMenuMobile linear 0.2s;
}

.sub-menu-sidebar>li:last-child {
    border: unset;
}

@keyframes showSubMenuMobile {
    0% {
        transform: scale(0,1);
    }

    100% {
        transform: scale(1,1);
    }
}
/*End header*/


/*Pc low resolution*/
@media (min-width: 1025px) and (max-width: 1239px) {
    .header__middle-container-center {
        height: 50px;
        max-width: 180px !important;
    }
}

/*Tablet*/
@media (min-width: 740px) and (max-width: 1024px) {
    .header__middle {
        padding: 10px 0;
    }

    .header__middle-container-center {
        height: 50px;
        max-width: 180px !important;
    }

    .show-menu {
        display: block;
    }

    .header__bottom {
        display: none;
    }

    .header__search {
        display: block;
    }

    .header__middle-container-right-icon>div:first-child {
        display: none;
    }

    .header__middle-container-right-form-user {
        position: fixed;
        top: 102px;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    #idHeader.menu-down .header__middle-container-right-form-user {
        top: 39px;
        right: calc((644px - 100vw)/2);
        left: unset;
    }

    #idHeader.menu-down span.box-triangle {
        top: 28px !important;
    }

    .header__middle-container-right-form-cart {
        position: fixed;
        top: 102px;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    #idHeader.menu-down .header__middle-container-right-form-cart {
        top: 39px;
        right: calc((644px - 100vw)/2);
        left: unset;
    }

    #idHeader.menu-down .header__middle-container-left-menu-mobile {
        top: 36px;
        right: unset;
        left: calc((634px - 100vw)/2);
    }

    #idHeader.menu-down .header__middle-container-left-wrapper span.box-triangle {
        top: 26px !important;
    }
}

@media (min-width: 1025px) {
    #idHeader.menu-start {
        opacity: 0;
        visibility: hidden;
    }
    
    #idHeader.menu-down {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-110%);
        transition: all ease 0.4s;
    }

    #idHeader.menu-down.menu-up {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }
    
    #idHeader.menu-down .header__top {
        display: none;
    }

    #idHeader.menu-down .header__middle {
        padding: 0;
    }

    #idHeader.menu-down .header__middle .header__middle-container-center {
        display: none;
    }

    #idHeader.menu-down .header__bottom .header__middle-container-center {
        display: block;
        flex-shrink: 0;
    }

    #idHeader.menu-down .header__bottom-container-wrapper {
        flex-wrap: nowrap;
        justify-content: flex-start;
    }

    #idHeader.menu-down .header__middle-container-right {
        position: absolute;
        z-index: 99;
        top: 50%;
        right: 20px;
        transform: translateY(-50%);
    }

    #idHeader.menu-down .header__bottom-container-wrapper-menu-list {
        padding: 0 115px 0 15px;
        flex: 1;
    }

    #idHeader.menu-down .header__bottom-container-wrapper-menu-list>li>a {
        padding: 25px 0;
    }

    #idHeader.menu-down~.container {
        margin-top: calc(33.79px + 30px + 65px);
    }
}

/*Mobile*/
@media (max-width: 739px) {
    .header__middle {
        padding: 10px 0;
    }

    .header__middle-container-center {
        height: 45px;
        max-width: 160px !important;
    }

    .show-menu {
        display: block;
    }

    .header__bottom {
        display: none;
    }

    .header__search {
        display: block;
    }

    .header__middle-container-right-icon>div:first-child {
        display: none;
    }

    .header__middle-container-right-form-user {
        position: fixed;
        top: 100px;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    .header__middle-container-right-form-cart {
        position: fixed;
        top: 100px;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
    }

    #idHeader.menu-down .header__middle-container-right-form-user {
        top: 39px;
        right: 0px;
        left: unset;
    }

    #idHeader.menu-down .header__middle-container-right-form-cart {
        top: 39px;
        right: 0px;
        left: unset;
    }

    #idHeader.menu-down span.box-triangle {
        top: 28px !important;
    }

    #idHeader.menu-down .header__middle-container-right {
        padding-right: 6px;
    }

    #idHeader.menu-down .header__middle-container-left {
        padding-left: 8px;
    }

    #idHeader.menu-down .header__middle-container-left-menu-mobile {
        top: 36px !important;
        right: unset;
        left: -5px;
    }

    #idHeader.menu-down .header__middle-container-left-wrapper span.box-triangle {
        top: 26px !important;
        left: 5px !important;
    }

    .header__middle-container-left-menu-mobile {
        top: 99px !important;
    }
}

@media (max-width: 1024px) {
    .header__middle-container-right-form-cart-wrapper {
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        padding-bottom: 250px;
    }

    .header__middle-container-right-form-user-wrapper {
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        padding-bottom: 250px;
    }

    .header__middle-container-right-form-cart-view {
        max-height: 480px;
    }

    #idHeader.menu-start {
        opacity: 0;
        visibility: hidden;
    }
    
    #idHeader.menu-down {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        transform: translateY(-110%);
        transition: all ease 0.4s;
    }

    #idHeader.menu-down.menu-up {
        visibility: visible;
        transform: translateY(0);
        opacity: 1;
    }
    
    #idHeader.menu-down .header__top {
        display: none;
    }

    #idHeader.menu-down .header__middle {
        padding: 0;
    }

    #idHeader.menu-down .header__middle-container-left {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        left: 0;
        z-index: 99;
        margin-left: 5px;
    }

    #idHeader.menu-down .header__middle .header__middle-container-center {
        display: none;
    }

    #idHeader.menu-down .header__middle-container-right {
        position: absolute;
        z-index: 99;
        top: 50%;
        right: 0px;
        transform: translateY(-50%);
    }

    #idHeader.menu-down .header__search-wrapper form {
        padding: 10px 0;
        margin: 0 80px 0 50px;
    }

    #idHeader.menu-down~.container {
        margin-top: calc(33.79px + 30px + 65px);
    }

    .header__middle-container-left-menu-mobile {
        display: none;
        position: fixed;
        top: 102px;
        right: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        transform-origin: top center;
        border-radius: 3px;
        box-shadow: 0 1px 5px 2px rgba(0, 0, 0, 0.1);
        z-index: 999;
        background-color: #fff;
        animation: show linear 0.2s;
    }

    .header__middle-container-left-menu-mobile-wrapper {
        width: 100vw;
        height: 100vh;
        overflow-y: auto;
        padding-bottom: 250px;
    }
}