<div class="footer">
    <div class="footer__wrapper grid wide">
        <div class="row">
            <div class="footer__item col l-3 m-6 c-6">
                <h4 class="footer__item-title">GIỚI THIỆU</h4>
                <div class="footer__item-content">
                    <p>MAVERIK STUDIO</p>
                    <div class="logo-footer">
                        <img src="/assets/frontend/images/logo-bct.webp" alt="">
                    </div>
                    <div class="social-list">
                        <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                        <a href="#"><i class="fa-brands fa-google"></i></a>
                    </div>
                </div>
            </div>
            <div class="footer__item col l-3 m-6 c-6">
                <h4 class="footer__item-title">CÂU HỎI</h4>
                <div class="footer__item-content">
                    <ul>
                        <li>
                            <a href="#" title="Tìm kiếm">Tìm kiếm</a>
                        </li>

                        <li>
                            <a href="#" title="Giới thiệu">Giới thiệu</a>
                        </li>

                        <li>
                            <a href="#" title="Chính sách đổi trả">Chính sách đổi trả</a>
                        </li>

                        <li>
                            <a href="#" title="Chính sách bảo mật">Chính sách bảo mật</a>
                        </li>

                        <li>
                            <a href="#" title="Điều khoản dịch vụ">Điều khoản dịch vụ</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__item col l-3 m-6 c-6">
                <h4 class="footer__item-title">CÔNG TY TNHH MAVERIK STUDIO</h4>
                <div class="footer__item-content">
                    <ul>
                        <li>
                            <a href="#" title="Tìm kiếm">Địa chỉ: Lầu 2, 26 Nguyễn Trãi, phường Bến Thành, Quận 1, TP.Hồ Chí Minh</a>
                        </li>

                        <li>
                            <a href="#" title="Giới thiệu">Điện thoại: 0385864487</a>
                        </li>

                        <li>
                            <a href="#" title="Chính sách đổi trả">Mail: maverik.studio2020@gmail.com</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="footer__item col l-3 m-6 c-6">
                <h4 class="footer__item-title">FANPAGE</h4>
                <div class="footer__item-content">
                    <div class="footer__item-cover-photo" style="background-image: url('/assets/frontend/images/340583161_539754424983491_2424276536403477601_n.jpg');">
                        <div class="footer__item-cover-photo-wrapper">
                            <div class="footer__item-avatar" style="background-image: url('/assets/frontend/images/363365562_868881658095519_5183610078985921017_n.jpg');"><a href=""></a></div>
                            <div class="footer__item-brands-name"><a href="#">Maverik Studio</a></div>
                            <div class="footer__item-quantity-follow">33,333 người theo dõi</div>
                            <a href="#" class="footer__item-link follow">
                                <i class="fa-brands fa-square-facebook"></i>
                                Theo dõi trang
                            </a>
                            <a href="#" class="footer__item-link share ">
                                <i class="fa-sharp fa-solid fa-share"></i>
                                Chia sẻ
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>