<div class="slider">
    <div class="slider-wrapper grid">
        <h2 class="slider-title">
            Maverik Gallery
        </h2>
        <div id="slider1" class="slider-content">
            <div class="slider-list-item row">
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_1.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_2.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_3.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_4.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_5.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_6.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_1.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_2.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_3.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_4.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_5.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_6.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_1.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_2.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_3.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_4.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_5.webp');"></div></div>
                <div class="slider-item col l-2 m-4 c-4"><div class="slider-item-img" style="background-image: url('/assets/frontend/images/gallery_item_6.webp');"></div></div>
            </div>
            <div class="slider-control-left"><i class="fa-regular fa-angle-left"></i></div>
            <div class="slider-control-right"><i class="fa-regular fa-angle-right"></i></div>
        </div>
    </div>
</div>